.css-ryrseu-MuiRating-root {
  text-align: unset !important;
  gap: 8px;
}

.star-container {
  padding: 0px !important;
  .star-ratings {
    display: flex !important;
    gap: 8px !important;
  }
}
