.LT-advsDetails-grid {
  width: 100%;
  gap: 16px;
  padding: 16px 0px;
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  @media screen and (max-width: 430px) {
    gap: 8px;
  }
  .LT-advsDetails-image {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 135px;
    height: 135px;
    @media screen and (max-width: 400px) {
      grid-row: 1/2;
      width: 70px;
      height: 70px;
    }
  }
  .LT-advsDetails-list-card {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    gap: 16px;
    @media screen and (max-width: 370px) {
      row-gap: 8px;
    }
  }
  .LT-advsDetails-amenties {
    grid-column: 2/3;
    grid-row: 2/3;
    @media screen and (max-width: 400px) {
      grid-column: 1/3;
    }
  }
}

.LT-advsDetails-title {
  font-size: 18px;
  font-family: "Cairo-Bold";
  @media screen and (min-width: 299px) and (max-width: 420px) {
    font-size: 14px;
  }
  @media screen and (max-width: 298px) {
    font-size: 12px;
  }
}
.LT-rate-font-size {
  font-size: 16px;
  font-family: "Cairo-Regular";
  .LT-rate-icon-size {
    width: 18px;
    height: 18px;
  }
  @media screen and (max-width: 370px) {
    font-size: 14px;
    .LT-rate-icon-size {
      width: 12px;
      height: 12px;
    }
  }
}
.LT-performance-rate-holder {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  @media screen and (max-width: 370px) {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;
    gap: 12px;
  }
}

.LT-advsDetails-status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  right: 92% !important;
  top: 92% !important;
  @media screen and (max-width: 400px) {
    width: 10px;
    height: 10px;
    right: 92% !important;
    top: 92% !important;
  }
}

.toast {
  width: 207px !important;
  height: auto !important;
  position: absolute !important;
  bottom: -51px !important;
  font-size: 14px !important;
  font-family: "Cairo-Bold" !important;
  background-color: #1eaaad !important;
  color: #fff !important;
  text-align: center !important;
}

.LT-list-Of-AdvsCategory {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
  padding: 16px;
  gap: 16px;
}

.LT-advsCategory-ellipsis {
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 284px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  & > p{
    margin: 0px;
  }
}

