.LT {
  top: -75px;
  left: 0;
}
.main {
  height: auto;
  .Titlecontainer {
    background-image: linear-gradient(
      to top right,
      rgb(109, 200, 202),
      rgb(2, 56, 90)
    );
    height: 15vh;
  }
  .formContainer {
    width: 70%;
    margin: 0 15vw;
    position: absolute;
    top: 10vh;

    @media (max-width: 767px) {
      width: 90%;
      margin: 0 5vw;
    }
  }
}
