.LT-check-mobile-holder {
  padding: 16px 16px 0rem 16px;
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  gap: 16px;
  grid-template-rows: 1fr auto auto;
  .two {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0px;
    .react-tel-input > .form-control {
      height: 70px !important;
    }
  }
  .three {
    width: 100%;
    grid-column: 1/2;
  }
}
