.LT-check-mobile-holder {
  padding: 30px 40px 0rem 40px;
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  gap: 16px;
  grid-template-rows: 1fr auto auto;
  .two {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0px;
    .react-tel-input > .form-control {
      height: 45px !important;
      background-color: #f8fafc;
    }
  }
  .three {
    width: 100%;
    grid-column: 1/2;
  }
}
