.title {
  text-align: center;
  font: normal normal normal 45px/60px El Messiri;
  letter-spacing: 0px;
  color: #02385a;
  opacity: 1;
}
.title1 {
  font: normal normal normal 40px/53px El Messiri;
  letter-spacing: 0px;
  color: #1eaaad;
  opacity: 1;
}
.title2 {
  font: normal normal bold 56px/105px Cairo;
  letter-spacing: 0px;
  color: #37383b;
  opacity: 1;
}
.title3 {
  font: normal normal normal 21px/30px Cairo;
  letter-spacing: 0px;
  color: #8f8f8f;
  opacity: 1;
}
