.LT-advs-form-grid {
  background-color: #fff;
  width: 100%;
  max-height: 84vh;
  overflow-x: hidden;
  overflow-y: scroll;
  justify-content: center;
  display: grid;
  gap: 1px !important;
  grid-template-columns: 1fr;
  .LT-address-advs {
    grid-column: 1/2;
    gap: 8px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
  .LT-details-advs {
    grid-column: 1/2;
    gap: 8px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
  .LT-upload-advs {
    grid-column: 1/2;
    align-items: center;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
}
.halfWidth {
  width: 50% !important;
}
.fullWidth {
  width: 100% !important;
}
.locationArea {
  padding: 10px;
  border-radius: 5px;
  span {
    margin-right: 10px;
  }
}
.inpH {
  height: 2.7rem !important;
}
.form-label {
  font-size: 1rem !important;
}
.css-24r4p6-control {
  height: 3vh !important;
  min-height: 0 !important;
  padding-top: 0 !important;
}

.mbb {
  margin-bottom: 0 !important;
}
.locHandler {
  display: flex;
}
.btnH {
  margin-right: auto;
}
.btnsHolder {
  display: flex;
  direction: ltr;
  margin-bottom: 50px;
  button {
    width: 8rem !important;
    margin: 0 0 0 10px;
  }
}
