.LT-readMore-holder-button {
  &:hover {
    .LT-read-more-arrow {
      animation: moveDown 1s ease infinite;
      @keyframes moveDown {
        0% {
          transform: translateY(2px);
        }
        50% {
          transform: translateY(0px);
        }
        100% {
          transform: translateY(2px);
        }
      }
    }
  }
}
.xx {
  transition: 3s ease-in-out;
}
.desc {
  width: 50vw;
  word-break: break-all;
}
.main {
  .offer {
    position: absolute;
    top: 10%;
    left: 3%;
    display: flex;
  }
  .title {
    color: black;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
  }
  .description {
    font-size: 0.9rem;
    font-weight: 600;
    width: 80%;
    line-height: 1.5rem;
    white-space: break-spaces;
  }

  .description_cut {
    overflow: hidden;
    height: 3rem;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .description_cut_2line {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
