.LT-readMore-holder-button{
    &:hover{
        .LT-read-more-arrow{
            animation: moveDown 1s ease infinite ;
        @keyframes moveDown {
            0%{
                transform: translateY(2px);
            }
            50%{
                transform: translateY(0px);
            }
            100%{
                transform: translateY(2px);
            }
        }
    }
}
}
.xx{
    transition: 3s ease-in-out;
}