input::placeholder {
  color: rgba(23, 56, 90, 0.5);
}
.LT-contact-image {
  @media screen and (max-width: 991px) {
    aspect-ratio: 1/0.8;
  }
}

.css-pm7d24-control:hover {
  border: 1px solid #e9e9e9 !important;
  cursor: pointer;
}
.css-1ahvar6-control:hover {
  border: 1px solid #e9e9e9 !important;
  box-shadow: none !important;
}
