.main {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  // margin: 8px 0px;
  border-radius: 1rem;
  // height: 4rem;
  svg,
  input {
    cursor: pointer;
  }
  .nameH {
    display: flex;
  }
}
.chosedH {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 5px 5px;
  border-radius: 10px;
  width: auto;
  height: 32px;
  border: 1px #707070 solid;
  color: #37383b;
  font-size: 14px;
  svg {
    cursor: pointer;
  }
  p {
    margin-left: 15px;
    // max-width: 4rem;
    overflow: hidden;
  }
}
.firstSub {
  margin: 0 1rem 0 0;
}
