.LT-login-holder {
  width: 100%;
  height: 100%;
  padding: 16px 16px 0rem 16px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px;
  grid-template-rows: 1fr auto auto;
  .img {
    margin: 6% 0 10% 0;
  }
  .one {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 80px;
  }
  .two {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0px;
  }
  .three {
    width: 86%;
    margin: 0 auto;
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .inp {
    border-radius: 15px;
  }
  .row {
    margin: 0 auto;

    width: 90%;
  }
  .btn {
    // width: 86% !important;
    // margin: 0 7% !important;
    border-radius: 10px;
  }
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: auto !important;
  box-shadow: none !important;
}
.css-yiavyu-MuiBackdrop-root-MuiDialog-backdrop {
  background-color: #f8fafc !important;
}
