.LT-request-form-grid {
  background-color: #fff;
  width: 100%;
  max-height: 84vh;
  overflow-y: scroll !important;
  justify-content: center;
  display: grid;
  gap: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  grid-template-columns: 1fr;
  .LT-address-request {
    grid-column: 1/2;
    gap: 8px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
  .LT-details-request {
    grid-column: 1/2;
    gap: 8px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
  .LT-upload-request {
    grid-column: 1/2;
    align-items: center;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
}
.inpBG {
  background-color: rgb(248, 250, 252) !important;
}
.css-319lph-ValueContainer {
  background-color: rgb(248, 250, 252) !important;
  padding: 0 2vw !important;
}
.pointer {
  cursor: pointer;
}
.h100 {
  height: 100vh !important;
  overflow: hidden;
}
.finalH {
  display: flex;
  position: relative;
  .bottn {
    position: absolute;
    bottom: 20%;
    left: 0%;
  }
  .w60 {
    width: 80%;
  }
}
.locationStateHandler {
  h5 {
    font-size: 1rem;
    color: #0d4493;
  }
  p {
    margin: 0 0 0 10px;
  }
  span {
    cursor: pointer;
    color: blue;
    border-bottom: 1px solid blue;
  }
}
