.container {
  margin: 0vh 21vw 0vh 0vh;
  padding: 2vh 0vw;
  width: 60%;

  @media (max-width: 768px) {
    .smallTitle {
      color: #fff !important;
      font-size: 1.6rem !important;
      margin-bottom: 10px !important;
    }

    .sm_description {
      font-size: 0.7rem !important;
    }
  }

  .title {
    color: rgb(39, 180, 187);
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 0;
  }
  .description {
    color: rgb(232, 236, 238);
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 450px) {
  .container {
    .title {
      font-size: 20px;
    }
    .description {
      font-size: 10px;
    }
  }
}
