@import "~react-phone-input-2/lib/style.css";

* {
  font-family: "Cairo-Medium" !important;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
.LT-timeSave-image {
  width: 61px;
  height: 61px;
}
.App-logo-animation {
  opacity: 1;
  animation: isLoading 1s linear infinite forwards;
  @keyframes isLoading {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
.App-logo-border-loading {
  position: absolute;
  width: 90px;
  height: 90px;
  border: 2px solid #ffff;
  border-radius: 50%;
  border-top-color: #1eaaad;
  animation: isborderLoading 0.8s linear infinite forwards;
  @keyframes isborderLoading {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }
}

// Pagination Arrow previous Page And first Icon Controller
.MuiButtonBase-root[aria-label="Go to previous page"],
.MuiButtonBase-root[aria-label="Go to first page"] {
  transform: rotate(180deg);
  &:hover {
    background-color: #02385a;
    .MuiSvgIcon-root {
      fill: #ffff;
    }
  }
  .MuiSvgIcon-root {
    fill: #02385a;
  }
}

// Pagination Arrow next Page And last Icon Controller
.MuiButtonBase-root[aria-label="Go to next page"],
.MuiButtonBase-root[aria-label="Go to last page"] {
  transform: rotate(180deg);
  &:hover {
    background-color: #02385a;
    .MuiSvgIcon-root {
      fill: #ffff;
    }
  }
  .MuiSvgIcon-root {
    fill: #02385a;
  }
}
// Pagination Style After Selected
.css-rppfq7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #02385a !important;
  color: #ffff !important;
}

// Pagination Hover Style Before Choose Select Number
.css-rppfq7-MuiButtonBase-root-MuiPaginationItem-root:hover {
  background-color: #02385a !important;
  color: #ffff !important;
}

.LT-card-grid-holder {
  display: grid;
  width: 100%;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.green-check {
  accent-color: #6dc8ca;
}
.bT {
  border-top: 1px rgb(215, 215, 215) solid;
}
.regiTitle {
  align-self: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}
.LT-RegisterOTP-holder .LT-otp-input > div > div > input {
  background-color: #f8fafc;
  border: 1px solid #d1dbe1;
}
.br14 {
  border-radius: 14px !important;
}
.react-tel-input .selected-flag {
  background-color: #f8fafc !important;
}

.react-tel-input .form-control {
  border: 1px solid #d1dbe1;
  border-radius: 15px;
}

.react-tel-input .selected-flag {
  border-radius: 10px 0 0 10px;
}
.react-tel-input .flag-dropdown {
  background-color: transparent !important;
  border: 1px solid #d1dbe1;
  border-radius: 15px 0 0 15px;
}

.pop-width {
  width: 430px;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  background-color: #1eaaad !important;
  border-color: transparent !important;
}
.btn:hover {
  .cLT-main-text {
    color: white !important;
  }
  background-color: #177a7c !important;
  border-color: transparent !important;
}
.btn:focus {
  .cLT-main-text {
    color: white !important;
  }
  background-color: #177a7c !important;
  border-color: transparent !important;
}
.btn:active {
  .cLT-main-text {
    color: white !important;
  }
  background-color: #177a7c !important;
  border-color: transparent !important;
}
.nav-link {
  margin: 0 10px;
}

.mxFull {
  margin: 0 10vw;
}

.bodyH {
  height: calc(100vh - 145px);
  overflow: auto;
}

.mDefault {
  margin: 0 10vw;
}

.h40 {
  height: 40px !important;
}

// Fix row tree
.treeItem-reverse-564asdas {
  div.css-1g86id8-MuiTreeItem-content {
    flex-direction: row-reverse !important;
  }
}

.btn-hover-transparent:hover {
  background-color: transparent !important;
}

.bg-hover-light {
  &:hover {
    background-color: rgb(248, 249, 250) !important;
  }
}
