.LT-employed-listCard-grid {
  display: grid;
  padding: 24px 16px;
  margin-bottom: 16px;
  gap: 16px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto auto;
  .LT-employed-icon {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .LT-name-flag {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .LT-employed-description {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .LT-employed-divied {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .LT-employed-amenties {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  @media screen and (max-width: 1200px) {
    .LT-employed-description {
      width: 75%;
      grid-column: 1/3;
      grid-row: 2/3;
    }
    @media screen and (max-width: 500px) {
      .LT-employed-description {
        width: 100%;
      }
    }
    .LT-employed-divied {
      grid-column: 1/3;
      grid-row: 3/4;
    }
    .LT-employed-amenties {
      grid-column: 1/3;
      grid-row: 4/5;
    }
  }
  @media screen and (max-width: 370px) {
    padding: 24px 8px;
    column-gap: 8px;
    row-gap: 16px;
  }
}

.LT-rate-font-size {
  font-size: 16px;
  font-family: "Cairo-Regular";
  .LT-rate-icon-size {
    width: 18px;
    height: 18px;
  }
  @media screen and (max-width: 370px) {
    font-size: 14px;
    .LT-rate-icon-size {
      width: 12px;
      height: 12px;
    }
  }
}
.LT-performance-rate-holder {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  @media screen and (max-width: 370px) {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;
    gap: 12px;
  }
}
