.label {
  display: flex;
  margin: 1vh 1vw;
  gap: 15px;
  p {
    // font-weight:bold;
    // font-size: 1.2rem;
    color: #37383b;
  }
}
.mobileHolder {
  background-color: white;
  width: fit-content;
  border-radius: 15px;
  margin: auto;
  direction: rtl;
  text-align: center;
}
